ol {
  width: 150px;
  /* list-style-type: square;
  list-style-position: inside; */

  list-style: inside lower-alpha;
}

ul {
  /* list-style-image: url('../../HTML/Linking/assets/images/IMG_20241125_100321.jpg'); */
}

td {
  border: 1px solid #0088dd;
  padding: 15px;
}
table.one {
  empty-cells: show;
  border-spacing: 10px;
}
table.two {
  /* border-collapse: collapse; */
  empty-cells: hide;
}
